html, body {
    height: 100vh;
    width: 100vw;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

body {
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: 0vh 100vh 150vh 100vh 150vh 20vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%; 
    background-image: url("C:/Users/user/Hathor-website/assets/description-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-template-areas:
        "nav"
        "description"
        "services"
        "our-packages"
        "booking"
        "footer";
}

.nav.scrolled {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(43, 36, 30, 0.5); /* Background color when scrolled */
    height: 10vh;
    width: 100vw;
}

.nav {
    width: 100vw;
    grid-area: nav;
    top: 0;
    z-index: 100;
    height: 10vh;
    transition: 0.33s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.description {
    grid-area: description;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.services {
    grid-area: services;
    width: 100%;
    height: 100%;
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    place-items: center;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 65%;
    grid-template-areas:
    "services-title services-title"
    "coworking-space coworking-space" */
    
}

.services-title {
        
    grid-area: services-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
}

.services-title:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1.5px;
}




.our-packages {
    grid-area: our-packages;
    width: 100%;
    height: 100%;
}

.booking {
    grid-area: booking;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 50vh 100vh;
    grid-template-areas: "booking-top-grid booking-top-grid"
    "booking-bottom-left-grid container-form";
    width: 100%;
    height: 100%;}

.booking-bottom-left-grid{
  grid-area: booking-bottom-left-grid;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 6%;
      height: 100%;
      width: 100%;
    }

 .booking-top-grid {
  grid-area:booking-top-grid ;
      background-color: yellow;
      height: 100%;
      width: 100%;
    }

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
}



@supports (background-clip: text) or (-webkit-background-clip: text) {
 h1 {
    background-image: url("assets/Background-text.svg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    align-items: center;

}}



 #our-services {
    
    font-size: 700%;
    text-align: center;
    margin:0;
    animation: slide-in 1s ease forwards ;
    
}





.coworking-space {
        grid-area: coworking-space;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        }






.descriptivetext {
    position: relative; /* Set position to absolute */
    top: 150px;
    width: calc(100% - 16vw); /* Adjust the width to match .container width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    z-index: 1;
    }


#visitus {
    font-size: 3vh;
    background-color:rgba(241, 212, 180, 0.2);
    border-radius: 17px;
    width: 45vw;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    max-height: 70px;
    margin-bottom: 7vh;   
    text-transform: uppercase;
    border-radius: 1000px;
    box-shadow: 3px 3px 6px rgb(204, 199, 192);
    transition: all 0.3s ease-in-out 0s; 
}

#visitus::before {
    content: '';
      border-radius: 1000px;
      
      box-shadow: 0 0 60px rgba(234,229,222,0.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }

#visitus::after {
        content: '';
        width: 45vw; height: 20vh;
        border-radius: 100%;
        border: 6px solid #EAE5DE;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
    

@keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.3;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

#visitus:hover, #visitus:focus  {
    animation: visit-us-anchor 1.5s ease forwards;
    transform: translateY(-6px);
}

#visitus:focus {
    background-color: (241, 212, 180, 1)
}












.card-img {
    width:100%;
    
    background-size: cover;
    
}



#girl, #barista {
    height: 65%;
    width: 60%;
}



#nav-logo {
    height: 45px;
    width: 45px;
    margin-left: 15px;
    margin-top: 10px;
    
}
#navlist {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    padding-right: 20vw;
}

a {
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#F1E4F3;
    font-size: 20px;
    
    
    
    

}

li {
    height: 7vh;
    background-color:transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 18px;

}

a:hover {
    
    animation: navbuttons-anchor 0.5s ease forwards;
}
li:hover {
    
    
    animation: navbuttons 0.5s ease forwards;
}
.welcometext {
    color: #EAE5DE;
    font-size: 18vh;
    
    margin:0;
    animation: slide-in 1s ease forwards ;
    
}


.welcometext2 {
    color: #EAE5DE;
    font-size: 12vh;
    
    margin:0;
    animation: slide-in 1.5s ease forwards ;
}
.paragraph-text {
    color:#F6F4ff;
    
    font-size: 4vh;
    animation: slide-in 2s ease forwards ;
    
}

.descriptivetext.animate-down {
    animation: slide-out 2s ease forwards; /* Disable the animation */
     /* Move the text off-screen */
}
.descriptivetext.animate-up {
    animation: slide-in-fromleft 2s ease forwards; /* Disable the animation */
     /* Move the text off-screen */
}


@keyframes navbuttons {
    from {
        background-color: transparent;
        
    }
    to {
        
        scale: 1.15;
        
        
    
    }
}

@keyframes navbuttons-anchor {
    from {
        background-color: transparent;
        
    }
    to {
        
        scale: 1;
        color:rgba(241, 212, 180, 1);
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif
        
        
    
    }


}

@keyframes visit-us-anchor {
    from {
        background-color:rgba(241, 212, 180, 0.2);
        
    }
    to {
        
        scale: 1;
        
        background-color:rgba(241, 212, 180, 0.75);
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif
        
        
    
    }


}

@keyframes slide-in {
    from {transform: translateX(-100%)}
    to{transform: translateX(0)}
    
}
@keyframes slide-in-fromleft {
    from {transform: translateX(100%);
        opacity: 0;}
    to{transform: translateX(0);
    opacity:1}}

@keyframes slide-out {
    from {transform: translateX(0)}
    to{transform: translateX(100%);
    opacity: 0}
    
}

@media screen and (max-width: 376px) and (max-height: 668px) {
    
    .container {
        display: grid;
        grid-template-rows: 75vh 100vh 100vh 100vh  20vh;
        grid-template-columns: 100%;
        justify-content: center;
        grid-gap:0vh;
        max-width: 100%; 
        background-image: url("C:/Users/user/Hathor-website/assets/description-background.jpg");
        background-size: cover;
        image-rendering: crisp-edges;
        background-position: center;
        background-attachment: fixed;
    }
    
    @keyframes slide-in {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
    
    @keyframes slide-in-fromleft {
        from {transform: translateX(0); opacity: 1;}
        to{transform: translateX(0); opacity: 1;}
    }

    @keyframes slide-out {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }

    .services-title {
        
        grid-area: services-title;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #our-services {
        font-size: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
    }
  
    #your-journey {
        display: none;
    }

    .nav {
        top: 0;
        z-index: 100;
        background-color: transparent;
        height: 13vh;
        transition: 0.33s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
    }
    
    #navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    
    a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color:#F1E4F3;
        font-size: 17px;
        font-weight: 500;
        margin: 12px;
        }

    .nav.scrolled {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: rgba(241, 212, 180, 0.5); /* Background color when scrolled */
        height: 10vh;
        width: 100vw;
    }
    
    .description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 0px; bottom: 0px; left: 0px; right: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;}
   

    .descriptivetext {
        position: relative; /* Set position to absolute */
        width: calc(100% - 16vw); /* Adjust the width to match .container width */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45%;
        z-index: 1;
        top: 70px;
        }
    
    
    #visitus {
        font-size: 15px;
        font-weight: 700;
        background-color:rgba(241, 212, 180, 0.6);
        width: 120px;
        margin-bottom: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        max-height: 70px;
        border-radius: 1000px;
        box-shadow: 3px 3px 6px rgb(204, 199, 192);
        transition: all 0.3s ease-in-out 0s; 
    }
    
    
    
        .welcometext {
            color: #EAE5DE;
            font-size: 60px;
            
            margin:0;
            
            
        }
        
        
        .welcometext2 {
            color: #EAE5DE;
            font-size: 35px;
            
            margin:0;
            
        }
        .paragraph-text {
            color:#F6F4ff;
            
            font-size: 15px;
            
            
        }
}

  
/* The cards css */
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(40% - 30px);
    flex-basis: calc(40% - 30px);
    margin: 20px;
    overflow: hidden;
    border-radius: 28px;
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    text-decoration: none;
    font: 1em/1.618 Inter, sans-serif;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #EAE5DE;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 87px;
    margin: 0 0 25px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #EAE5DE;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #EAE5DE;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
 

  /*Form css*/

  .container-form {
    grid-area: container-form;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
   
    height: 100%;
   
  }

  .no-scrollbar {
    overflow: hidden;
}








  .window-form {
    z-index: 1;
    color: #EAE5DE;
    
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 20px;
    height: 85%;
    width: 85%;
    border-radius: 40px;
    transform: scale(1); /* Set the initial scale to 1 (normal size) */
  transition: transform 0.5s ease; /* Add a transition for the transform property */
    
    
  }

  .window-form:hover {
   transform: scale(1.09);
   transition: 2s ease;
    /*Causes the screen to screenshot*/
  }

  .window-form:not(:hover) {
    transition: transform 1s ease 0.2s; /* Transition on normal state */
  }

  .overlay-form {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font: 1em/1.618 Inter, sans-serif;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .content-form {
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  

  .subtitle {
    text-align: center;
    font-size:30px;
    margin-top: 8vh;
    line-height: 1em;
    font-weight:500;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }

  .input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8vh;
      
  }
  .input-fields > * {
    flex-basis: calc(30% - 25px); /* 50% for 2 columns and margin in between */
    margin: 15px; /* Margin between rows */
}
  

input {
    border: 1px solid rgba(255, 255, 255, 0.65);
   
    color: rgba(255, 255, 255, 0.65);
    width: 20vw;
 
}

.ghost-round:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #EAE5DE;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #EAE5DE;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
  outline: none;
  border-color: #EAE5DE;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  
  font-size: 19px;
  font-size: 1.2rem;
  
  font-weight: 300;
  line-height: 2.5em;
 width:100%;
  
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button-container {
width: 20%;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #EAE5DE;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: none;
  border: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #EAE5DE;
  
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;

}

#options {
     
    border: none ; /* Add your desired border */
    padding: 8px; /* Add padding to style the dropdown area */
     /* Set the background color */
    width: 100%; /* Set the width to fill the container */
    
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px; /* Use the same font as the rest of your page */
    font-size: 1.2rem; /* Use the same font size as the rest of your page */
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }

  .select-group select {
     /* Hide the default appearance */
    
     
     margin-bottom: 10px;
     line-height: 2.4em;
     color: #EAE5DE;
     
     font-weight: 200;
     letter-spacing: 0px;
     letter-spacing: 0.02rem;
     font-size: 19px;
     font-size: 1.2rem;
     border-bottom: 1px solid rgba(255, 255, 255, 0.65);
     -webkit-transition: all .2s ease;
     transition: all .2s ease;
    

}
.select-group select option {
    background-color: transparent;
    color: #EAE5DE;
    padding: 5px;
    border-radius:5px;
    
    
}

.select-group select option:hover {
    
    background-color: transparent;
    
    color: #EAE5DE;
}

select::-ms-expand {
    color: #EAE5DE;/* Styles for IE (Microsoft Edge) */
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
   color: #EAE5DE; /* Styles for Webkit browsers (Chrome, Safari) */
}



.full-width {
  width: 100%;
}













@media (max-width: 500px) {
  .window-form {
    width: 100%;
    height: 100%;
  }
  .overlay-form {
    width: 100%;
    height: 100%;
  }
}


/* Css for the text to the left of the form*/

#h1-text-form {
  font-size: clamp(3rem, 7vmin, 8rem);
  
  color: hsl(0 0% 98%);
  line-height: 1.3;
  
}
#h1-text-form, #h1-text-form>* {
  word-spacing: 0.2em;
}

.underlined {
/*   background: red; */
  position: relative;
  font-size: 1.4em;
  font-weight:700;
}

.underline-mask:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
          mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}

.underline-mask-productive:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 11px solid #3ecd5e;
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
          mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}



.underline-clip:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 8px solid #f9b234;
  /* Use a clip-path to hide and show the bits you want */
  -webkit-clip-path: polygon(0 0, 50% 50%, 80% 0);
          clip-path: polygon(0 0, 50% 50%, 80% 0);
}

.underline-clip-discover:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 65%;
  border: 10px solid #4c49ea;
  /* Use a clip-path to hide and show the bits you want */
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0);
          clip-path: polygon(0 0, 50% 50%, 100% 0);
}
