
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
   
    
}


body {
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: 0vh 100vh 150vh 150vh 150vh 80vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%; 
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-template-areas:
        "nav"
        "description"
        "services"
        "our-packages"
        "booking"
        "footer";
}

.nav.scrolled {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(43, 36, 30, 0.5); /* Background color when scrolled */
    height: 10vh;
    width: 100vw;
}

.nav {
    width: 100vw;
    grid-area: nav;
    top: 0;
    z-index: 100;
    height: 10vh;
    transition: 0.33s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.description {
    grid-area: description;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.services {
    grid-area: services;
    width: 100%;
    height: 100%;
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    place-items: center;
    
    
}

.section-title {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  text-align: center;
  margin:0;
  animation: slide-in 1s ease forwards ;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
}



 .section-title:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1.5px;
}




.our-packages {
    grid-area: our-packages;
   
    width: 100%;
    height: 100%;
    
}

.booking {
    grid-area: booking;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 50vh 100vh;
    grid-template-areas: "booking-top-grid booking-top-grid"
    "booking-bottom-left-grid container-form";
    width: 100%;
    height: 100%;}

.booking-bottom-left-grid{
  grid-area: booking-bottom-left-grid;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 6%;
      height: 100%;
      width: 100%;
    }

 .booking-top-grid {
  
      grid-area:booking-top-grid ;
      height: 100%;
      width: 100%;
    }

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
}



@supports (background-clip: text) or (-webkit-background-clip: text) {
 h1 {
    background-image: url("assets/Background-text.svg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    align-items: center;

}}



 #our-services {
    
    
    
}





.coworking-space {
        grid-area: coworking-space;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        }






.descriptivetext {
    position: relative; /* Set position to absolute */
    top: 150px;
    width: calc(100% - 16vw); /* Adjust the width to match .container width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    z-index: 1;
    }


#visitus {
    font-size: 3vh;
    background-color:rgba(241, 212, 180, 0.2);
    border-radius: 17px;
    width: 45vw;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    max-height: 70px;
    margin-bottom: 7vh;   
    text-transform: uppercase;
    border-radius: 1000px;
    box-shadow: 3px 3px 6px rgb(204, 199, 192);
    transition: all 0.3s ease-in-out 0s; 
}

#visitus::before {
    content: '';
      border-radius: 1000px;
      
      box-shadow: 0 0 60px #3ecd5e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }

#visitus::after {
        content: '';
        width: 45vw; height: 20vh;
        border-radius: 100%;
        border: 6px solid #3ecd5e;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
    

@keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.3;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

#visitus:hover, #visitus:focus  {
    animation: visit-us-anchor 1.5s ease forwards;
    transform: translateY(-6px);
    background-color: #3ecd5e;
}

#visitus:focus {
    background-color: #3ecd5e
}

@keyframes visit-us-anchor {
  from {
      background-color:rgba(241, 212, 180, 0.2);
      
  }
  to {
      
      scale: 1;
      
      background-color:#3ecd5e;
      font-weight: 400;
      box-shadow: 3px 3px 6px #3ecd5e;
      font-family: Arial, Helvetica, sans-serif
      
      
  
  }


}













.card-img {
    width:100%;
    
    background-size: cover;
    
}



#girl, #barista {
    height: 65%;
    width: 60%;
}



#nav-logo {
    height: 45px;
    width: 45px;
    margin-left: 15px;
    margin-top: 10px;
    
}
#navlist {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    padding-right: 20vw;
}

a {
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:#F1E4F3;
    font-size: 20px;
    
    
    
    

}

li {
    height: 7vh;
    background-color:transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 18px;

}

#navlist a:hover {
    
    animation: navbuttons-anchor 0.5s ease forwards;
}
li:hover {
    
    
    animation: navbuttons 0.5s ease forwards;
}
.welcometext {
    color: #EAE5DE;
    font-size: 18vh;
    
    margin:0;
    animation: slide-in 1s ease forwards ;
    
}


.welcometext2 {
    color: #EAE5DE;
    font-size: 12vh;
    
    margin:0;
    animation: slide-in 1.5s ease forwards ;
}
.paragraph-text {
    color:#F6F4ff;
    
    font-size: 4vh;
    animation: slide-in 2s ease forwards ;
    
}

.descriptivetext.animate-down {
    animation: slide-out 2s ease forwards; /* Disable the animation */
     /* Move the text off-screen */
}
.descriptivetext.animate-up {
    animation: slide-in-fromleft 2s ease forwards; /* Disable the animation */
     /* Move the text off-screen */
}


@keyframes navbuttons {
    from {
        background-color: transparent;
        
    }
    to {
        
        scale: 1.15;
        
        
    
    }
}

@keyframes navbuttons-anchor {
    from {
        background-color: transparent;
        
    }
    to {
        
        scale: 1;
        color:rgba(241, 212, 180, 1);
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif
        
        
    
    }


}


@keyframes slide-in {
    from {transform: translateX(-100%)}
    to{transform: translateX(0)}
    
}
@keyframes slide-in-fromleft {
    from {transform: translateX(100%);
        opacity: 0;}
    to{transform: translateX(0);
    opacity:1}}

@keyframes slide-out {
    from {transform: translateX(0)}
    to{transform: translateX(100%);
    opacity: 0}
    
}



  
/* The cards css */
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(40% - 30px);
    flex-basis: calc(40% - 30px);
    margin: 20px;
    overflow: hidden;
    border-radius: 28px;
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    text-decoration: none;
    font: 1em/1.618 Inter, sans-serif;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #EAE5DE;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 87px;
    margin: 0 0 25px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #EAE5DE;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #EAE5DE;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  


  /*Booking Form css*/

  .container-form {
    grid-area: container-form;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
   
    height: 100%;
   
  }

  .no-scrollbar {
    overflow: hidden;
}








  .window-form {
    z-index: 1;
    color: #EAE5DE;
    
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 20px;
    height: 85%;
    width: 85%;
    border-radius: 40px;
    transform: scale(1); /* Set the initial scale to 1 (normal size) */
  transition: transform 0.5s ease; /* Add a transition for the transform property */
    
    
  }

  .window-form:hover {
   transform: scale(1.09);
   transition: 2s ease;
    /*Causes the screen to screenshot*/
  }

  .window-form:not(:hover) {
    transition: transform 1s ease 0.2s; /* Transition on normal state */
  }

  .overlay-form {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font: 1em/1.618 Inter, sans-serif;
    -webkit-box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .content-form {
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  

  .subtitle {
    text-align: center;
    
    font-size:30px;
    margin-top: 8vh;
    line-height: 1em;
    font-weight:500;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }

  .input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8vh;
      
  }
  .input-fields > * {
    flex-basis: calc(30% - 25px); /* 50% for 2 columns and margin in between */
    margin: 15px; /* Margin between rows */
}
  

input {
    border: 1px solid rgba(255, 255, 255, 0.65);
   
    color: rgba(255, 255, 255, 0.65);
    width: 20vw;
 
}.input-lin

.ghost-round:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #EAE5DE;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #EAE5DE;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
  outline: none;
  border-color: #EAE5DE;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: #3ecd5e;
  border: 1px solid #3ecd5e;
  border-radius: 25px;
color: #EAE5DE;
  
  font-size: 19px;
  font-size: 1.2rem;
  
  font-weight: 300;
  line-height: 2.5em;
 width:100%;
  
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button-container {
width: 20%;
}

.ghost-round:hover {
  background: #3ecd5e;
  border-color:#3ecd5e ;
  color: #EAE5DE;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  transform: scale(1.018)
}

.input-line {
  background: none;
  border: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #EAE5DE;
  
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;

}

#options {
     
    border: none ; /* Add your desired border */
    padding: 8px; /* Add padding to style the dropdown area */
     /* Set the background color */
    width: 100%; /* Set the width to fill the container */
    
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px; /* Use the same font as the rest of your page */
    font-size: 1.2rem; /* Use the same font size as the rest of your page */
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }

  .select-group select {
     /* Hide the default appearance */
    
     
     margin-bottom: 10px;
     line-height: 2.4em;
     color: #EAE5DE;
     
     font-weight: 200;
     letter-spacing: 0px;
     letter-spacing: 0.02rem;
     font-size: 19px;
     font-size: 1.2rem;
     border-bottom: 1px solid rgba(255, 255, 255, 0.65);
     -webkit-transition: all .2s ease;
     transition: all .2s ease;
    

}
.select-group select option {
    background-color: transparent;
    color: #EAE5DE;
    padding: 5px;
    border-radius:5px;
    
    
}

.select-group select option:hover {
    
    background-color: transparent;
    
    color: #EAE5DE;
}

select::-ms-expand {
    color: #EAE5DE;/* Styles for IE (Microsoft Edge) */
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
   color: #EAE5DE; /* Styles for Webkit browsers (Chrome, Safari) */
}



.full-width {
  width: 100%;
}
















/* Css for the text to the left of the form*/

#h1-text-form {
  font-size: clamp(3rem, 7vmin, 8rem);
  
  color: hsl(0 0% 98%);
  line-height: 1.3;
  
}
#h1-text-form, #h1-text-form>* {
  word-spacing: 0.2em;
}

.underlined {
/*   background: red; */
  position: relative;
  font-size: 1.4em;
  font-weight:700;
}

.underline-mask:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
          mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}

.underline-mask-productive:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 11px solid #3ecd5e;
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  -webkit-mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
          mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}



.underline-clip:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 8px solid #f9b234;
  /* Use a clip-path to hide and show the bits you want */
  -webkit-clip-path: polygon(0 0, 50% 50%, 80% 0);
          clip-path: polygon(0 0, 50% 50%, 80% 0);
}

.underline-clip-discover:after {
  content: '';
  position: absolute;
  font-size: 1.4em;
  font-weight:700;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 65%;
  border: 10px solid #4c49ea;
  /* Use a clip-path to hide and show the bits you want */
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 0);
          clip-path: polygon(0 0, 50% 50%, 100% 0);
}




/**************************Cards for packages*************************/
.cards {
  
  font-family: "Spline Sans", sans-serif;
  line-height: 1.5;
  display: flex;
 
  align-items: flex-start;
  
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
  height: 90%;
  max-width: 1000px;
  margin: 10vh auto;
  
}



.card {
  cursor: pointer;
 
  border-radius: 30px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 300px;
  height: 65vh;
  
}


.information {
  background-color:#F1E4F3;
  padding: 1.5rem;
}
.information .tag {
  display: inline-block;
  background-color: #f1eeff;
  color: #6558d3;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
}
.information .tag + * {
  margin-top: 1rem;
}
.information .title {
  font-size: 1.5rem;
  color: #F1E4F3;
  line-height: 1.25;
}
.information .title + * {
  margin-top: 1rem;
}
.information .info {
  color: #a0a0a0;
}
.information .info + * {
  margin-top: 1.25rem;
}
.information .button {
  font: inherit;
  line-height: 1;
  background-color: #fff;
  border: 2px solid #6558d3;
  color: #6558d3;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.information .button:hover, .information .button:focus {
  background-color: #FFEDEC;
  color: #fff;
}
.information .details {
  display: flex;
  gap: 1rem;
}
.information .details div {
  padding: 0.75em 1em;
  background-color: #f1eeff;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.125em;
  flex-basis: 50%;
}
.information .details dt {
  font-size: 0.875rem;
  color: #a69fd6;
}
.information .details dd {
  color: #6558d3;
  font-weight: 600;
  font-size: 1.25rem;
  
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(255,237,236, 0.15);
  backdrop-filter: blur(26px);
  color: #d2ccd3;
  height: 70vh;
  transition: transform 0.8s ease;
}
.plan:hover {
 transform:  scale(1.15);
 
}

.plan strong {
  font-weight: 600;
  color: #F1E4F3;
}
.plan .inner {
  
  
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  height: 93%;
  width: 95%;
}


.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3ecd5e;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #917072;
}
.plan .pricing small {
  color: #917072;
  font-size: 0.75em;
  margin-left: 0.25em;
}
.plan .title {
  font-weight: 600;
  font-size: 1.3rem;
  color: #FFEDEC;
}
.plan .title + * {
  margin-top: 0.75rem;
}
.plan .info + * {
  margin-top: 1rem;
  color: #FFEDEC;
}
.plan .features {
  display: flex;
  flex-direction: column;
}
.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.plan .features li + * {
  margin-top: 0.75rem;
}
.plan .features .icon {
  background-color: #3ecd5e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFEDEC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.plan .features .icon svg {
  width: 14px;
  height: 14px;
}
.plan .features + * {
  margin-top: 1.25rem;
}
.plan button {
  font: inherit;
  background-color: transparent;
  border-radius: 30px;
  color: #FFEDEC;
  font-weight: 500;
  font-size: 1.125rem;
  width: 75%;
  height: 8vh;
  border: 0;
  transition: 1.5s;
  
}
.plan button:hover {
  background-color: #3ecd5e;
}
#plan-week .pricing:hover span {
  display: none; /* Hide original price on hover */
}

#plan-week .pricing:hover  small {
  display: none; /* Hide the "/ day" text on hover */
}


#plan-week .pricing:hover::before {
  content: "50,5 TD"; /* Replace with new price on hover */
  display: block; /* Display the new price on hover */
}

/**************************/


#plan-month .pricing:hover span {
  display: none; /* Hide original price on hover */
}

#plan-month .pricing:hover  small {
  display: none; /* Hide the "/ day" text on hover */
}


#plan-month .pricing:hover::before {
  content: "180 TD"; /* Replace with new price on hover */
  display: block; /* Display the new price on hover */
}



/********************Footer********************/
.footer-row a {
  font-size: 100%;
  transition: 0.2s;
  text-decoration: none;
}

.footer-row a:hover {
  color:#d6d0d0
  
}

.logo-copyrights{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-icon::before {
  content: attr(aria-label);
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.quick-links-title-footer{
color: white;
 text-align: center;
  
}

#footer-logo {
  height:60px;
  margin: 10px;
  margin-bottom: 25px;
}
.social-media{
  margin-left: 10px;
 
 
  
}
.footer-row {
  display: flex;
  
  align-items: center;
}
.footer-svg {
  height: 30px;
  left: 200px;
}
body {
  overflow-x: hidden;
}
 .footer-element {
  top:200px;
  position: fixed;
  z-index: 1;
  --footer-background:#3ecd5e;
  display: grid;
  position: relative;
 width:100%;
  min-height: 12rem;
}
 .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  
  background: #3ecd5e;
  filter: url("#blob");
}
 .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  
  background: #3ecd5e;
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
 .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
  align-items: start;
}
 .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
 .footer .content b {
  color: #F5F7FA;
}
 .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
 .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .footer .content > div > div {
  margin: 0.25rem 0;
}
 .footer .content > div > div > * {
  margin-right: 0.5rem;
}
 .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

/*# sourceMappingURL=styles.css.map */

/*****************Subscribe box************************/

.subscribe-box {
  background: transparent;
  
 
  text-align: center;
  
}
.subscribe-box h2 {
  
  color: white;
  text-align: center;
  
}
.subscribe-box .subscribe {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.subscribe-box .subscribe input {
  width: 100%;
  background: transparent;
  border: 0;
border-bottom-color: white;;
  border-bottom: 1px solid;
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}
.subscribe-box .subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.subscribe-box .subscribe button {
  all: unset;
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button span {
  display: inline-block;
  transition: all 300ms ease;
}
.subscribe-box .subscribe button:before, .subscribe-box .subscribe button:after {
  content: "";
  display: block;
  position: absolute;
  transition: all 300ms ease;
  opacity: 0;
}
.subscribe-box .subscribe button:before {
  height: 7px;
  width: 7px;
  background: transparent;
  border-right: 2px solid;
  border-top: 2px solid;
  right: 30px;
  top: 21px;
  transform: rotate(45deg);
}
.subscribe-box .subscribe button:after {
  background: white;
  height: 2px;
  width: 50px;
  left: 0;
  top: 1.49em;
}
.subscribe-box .subscribe button:hover span {
  transform: translateX(-10px);
}
.subscribe-box .subscribe button:hover:before {
  opacity: 1;
}
.subscribe-box .subscribe button:hover:after {
  width: 14px;
  opacity: 1;
  transform: translateX(162px);
}


/**********scrolltotop*********/
.scroll-to-top-container {
  position: relative;
  z-index: 1000;
  height: 2%;

}


.scroll-to-top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 30px;
  
  padding: 10px 20px;
  
  cursor: pointer;
  display: none;
}


/*** For narrow screen ****/






/* @media screen and (max-height: 820px)and (max-width: 630px){
    
  .container {
    display: grid;
    grid-template-rows: 10vh 39vh 180vh 165vh  110vh 2vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

   
} */

/* @media screen and (max-height: 670px) and (max-width:800px) {
  .container {
    display: grid;
    grid-template-rows: 10vh 39vh 185vh 170vh  110vh 2vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
} */

/* @media screen and (max-height: 630px){
  .container {
    display: grid;
    grid-template-rows: 10vh 50vh 200vh 170vh  110vh 2vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
} 









/* @media (max-width: 500px) {
  .window-form {
    width: 100%;
    height: 100%;
  }
  .overlay-form {
    width: 100%;
    height: 100%;
  }
} */

/* @media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
} */
/* 
@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

} */
/* @media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
} */



/*** Screen sizes similar to iphone12 pro h[896 820] and w<400  ***/
@media screen and (max-width: 500px) and (max-height:930px) and (min-height:780px){
  .container {
    display: grid;
    grid-template-rows: 10vh 45vh 164vh 160vh  50vh 0vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.our-packages {
  grid-area: our-packages;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

  .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  height: fit-content;
    flex-direction: column;
    position: relative;
    opacity: 1;
  }
  
  
  
  .ag-courses_box {
   
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      justify-content: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2%;
  
}
.ag-courses_item {
  margin: 0px;
  overflow: hidden;
  width: 96%;
  border-radius: 28px;
}
.footer {
  display: flex;
  grid-area: footer;
  width: 100%;
  height: 80vh;
  align-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  top: 200px;
}

.footer-element {
  top: 0px;
  position: fixed;
  z-index: 1;
  --footer-background: #3ecd5e;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 12rem;
}
  
    .footer .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 0.5fr 1fr 0fr 1fr;
      grid-gap: 0;
      padding: 0;
      background: var(--footer-background);
      align-items: start;
  }
  .footer .content > div > div > * {
    margin-right: 0px;
    margin-block-end: auto;
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-box {
    background: transparent;
    text-align: center;
    display: none;
  }
   
  .section-title {
    font-size: 4.5vw;
    font-family: system-ui;
    font-weight: 600;
  }
  
      .ag-courses-item_link {
        display: block;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        text-decoration: none;
        font: 1em/1.618 Inter, sans-serif;
        box-shadow: none;
        overflow: hidden;
        border-radius: 40px;
        position: relative;
      }
     
      .cards {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.5rem;
        width: 80%;
        height: 90%;
        margin-top: 0px;
    }
      
      
  .plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgba(255,237,236, 0.15);
        backdrop-filter: blur(26px);
        color: #d2ccd3;
        height: 35vh;
        width: 80vh;
       
      }
      
   .plan .title {
    margin-top: 7vh;
    font-size: 140%;
    text-align: center;
   }  
   .plan .pricing {
    
      position: absolute;
      top: 0px;
      right: 0;
      background-color: #3ecd5e;
      border-radius: 99em 0 0 99em;
      display: flex;
      align-items: center;
      padding: 0.625em 0.75em;
      font-weight: 600;
      color: #917072;
  font-size: 1em;
   } 
   
  .plan .info{
    display: none;
    margin-top: 0vh;
    text-align: center;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: -20vw;
    margin-top: 0vh;
  }
  li {
    height: 4vh;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 18px;
  }
  
  .booking-bottom-left-grid{
    display:none;
  }
  
  .subtitle {
    text-align: center;
    
    font-size:160%;
    margin-top: 8vh;
    line-height: 1em;
    font-weight:500;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .input-line{
    font-size: 90%;
  }
  
  .window-form:hover {
    transform: none;
    transition: 2s ease;
     /*Causes the screen to screenshot*/
   }
  
   
  
  #options{
    font-size: 90%;
  }
  .ghost-round{
    width: 160%;
  }
  
  .booking {
    grid-area: booking;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 100vh;
    width: 100%;
    height: 100%;
    grid-template-areas: "booking-top-grid"
  "container-form";
    place-items: center;
  }
  
  
  .booking-top-grid {
    display: flex;
    grid-area: booking-top-grid;
    align-items: center;
    justify-content: center;
}
  
  
.container-form {
  position: center;
  width: 100%;
  height: 80%;
  grid-area: container-form;
}
    
    
    @keyframes slide-in {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
    
    @keyframes slide-in-fromleft {
        from {transform: translateX(0); opacity: 1;}
        to{transform: translateX(0); opacity: 1;}
    }
  
    @keyframes slide-out {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
  
  
  
    
  
    
  
    #your-journey {
        display: none;
    }
  
    .nav {
        top: 0;
        z-index: 100;
        background-color: transparent;
        height: 13vh;
        transition: 0.33s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
    }
    .nav.scrolled {
      position: fixed;
      top: 0;
      z-index: 100;
      
      height: 10vh;
      width: 100vw;
  }
    
    #navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    
    a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color:#F1E4F3;
        font-size: 17px;
        font-weight: 500;
        margin: 12px;
        }
  
   
    
    
  
        .descriptivetext {
          position: relative;
          width: calc(100% - 16vw);
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 45%;
          z-index: 1;
          top: 1vh;
      }
    
    
      #visitus {
        font-size: 15px;
        font-weight: 700;
        background-color: #3ecd5e;
        width: 120px;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-top: 3vh;
        max-height: 70px;
        border-radius: 1000px;
        box-shadow: 3px 3px 6px #3ecd5e;
    }
    
    
    
        .welcometext {
            color: #EAE5DE;
            font-size: 60px;
            text-align: center;
            margin:0;
            
            
        }
        
        
        .welcometext2 {
            color: #EAE5DE;
            font-size: 35px;
            text-align: center;
            margin:0;
            
        }
        .paragraph-text {
            color:#F6F4ff;
            text-align: center;
            font-size: 15px;
            
            
        }
        .plan button {
          display: none;
          
        }
        .footer .content > div > div {
          margin: 0px;
      }
     #social-media-column a {
  display:none
     }

}
/*** Screen sizes similar to Galaxy A50 ****/
@media screen and (max-height: 780px) and (max-width: 500px) and (min-height: 681px)  {
  .container {
    display: grid;
    grid-template-rows: 10vh 45vh 184vh 160vh  70vh 0vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
.our-packages {
  grid-area: our-packages;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

  .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  height: fit-content;
    flex-direction: column;
    position: relative;
    opacity: 1;
  }
  
  
  
  .ag-courses_box {
   
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      justify-content: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2%;
  
}
.ag-courses_item {
  margin: 0px;
  overflow: hidden;
  width: 96%;
  border-radius: 28px;
}
.footer {
  display: flex;
  grid-area: footer;
  width: 100%;
  height: 80vh;
  align-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  top: 200px;
}

.footer-element {
  top: 0px;
  position: fixed;
  z-index: 1;
  --footer-background: #3ecd5e;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 12rem;
}
  
    .footer .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 0.5fr 1fr 0fr 1fr;
      grid-gap: 0;
      padding: 0;
      background: var(--footer-background);
      align-items: start;
  }
  .footer .content > div > div > * {
    margin-right: 0px;
    margin-block-end: auto;
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-box {
    background: transparent;
    text-align: center;
    display: none;
  }
   
  .section-title {
    font-size: 4.5vw;
    font-family: system-ui;
    font-weight: 600;
  }
  
      .ag-courses-item_link {
        display: block;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        text-decoration: none;
        font: 1em/1.618 Inter, sans-serif;
        box-shadow: none;
        overflow: hidden;
        border-radius: 40px;
        position: relative;
      }
     
      .cards {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.5rem;
        width: 80%;
        height: 90%;
        margin-top: 0px;
    }
      
      
  .plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgba(255,237,236, 0.15);
        backdrop-filter: blur(26px);
        color: #d2ccd3;
        height: 35vh;
        width: 80vh;
       
      }
      
   .plan .title {
    margin-top: 7vh;
    font-size: 140%;
    text-align: center;
   }  
   .plan .pricing {
    
      position: absolute;
      top: 0px;
      right: 0;
      background-color: #3ecd5e;
      border-radius: 99em 0 0 99em;
      display: flex;
      align-items: center;
      padding: 0.625em 0.75em;
      font-weight: 600;
      color: #917072;
  font-size: 1em;
   } 
   
  .plan .info{
    display: none;
    margin-top: 0vh;
    text-align: center;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: -20vw;
    margin-top: 0vh;
  }
  li {
    height: 4vh;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 18px;
  }
  
  .booking-bottom-left-grid{
    display:none;
  }
  
  .subtitle {
    text-align: center;
    
    font-size:160%;
    margin-top: 8vh;
    line-height: 1em;
    font-weight:500;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .input-line{
    font-size: 90%;
  }
  
  .window-form:hover {
    transform: none;
    transition: 2s ease;
     /*Causes the screen to screenshot*/
   }
  
   
  
  #options{
    font-size: 90%;
  }
  .ghost-round{
    width: 160%;
  }
  
  .booking {
    grid-area: booking;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 100vh;
    width: 100%;
    height: 100%;
    grid-template-areas: "booking-top-grid"
  "container-form";
    place-items: center;
  }
  
  
  .booking-top-grid {
    display: flex;
    grid-area: booking-top-grid;
    align-items: center;
    justify-content: center;
}
  
  
.container-form {
  position: center;
  width: 100%;
  height: 80%;
  grid-area: container-form;
}
    
    
    @keyframes slide-in {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
    
    @keyframes slide-in-fromleft {
        from {transform: translateX(0); opacity: 1;}
        to{transform: translateX(0); opacity: 1;}
    }
  
    @keyframes slide-out {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
  
  
  
    
  
    
  
    #your-journey {
        display: none;
    }
  
    .nav {
        top: 0;
        z-index: 100;
        background-color: transparent;
        height: 13vh;
        transition: 0.33s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
    }
    .nav.scrolled {
      position: fixed;
      top: 0;
      z-index: 100;
      
      height: 10vh;
      width: 100vw;
  }
    
    #navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    
    a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color:#F1E4F3;
        font-size: 17px;
        font-weight: 500;
        margin: 12px;
        }
  
   
    
    
  
        .descriptivetext {
          position: relative;
          width: calc(100% - 16vw);
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 45%;
          z-index: 1;
          top: 1vh;
      }
    
    
      #visitus {
        font-size: 15px;
        font-weight: 700;
        background-color: #3ecd5e;
        width: 120px;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-top: 3vh;
        max-height: 70px;
        border-radius: 1000px;
        box-shadow: 3px 3px 6px #3ecd5e;
    }
    
    
    
        .welcometext {
            color: #EAE5DE;
            font-size: 60px;
            text-align: center;
            margin:0;
            
            
        }
        
        
        .welcometext2 {
            color: #EAE5DE;
            font-size: 35px;
            text-align: center;
            margin:0;
            
        }
        .paragraph-text {
            color:#F6F4ff;
            text-align: center;
            font-size: 15px;
            
            
        }
        .plan button {
          display: none;
          
        }
        .footer .content > div > div {
          margin: 0px;
      }
     #social-media-column a {
  display:none
     }

}
/*** Older versions of screens iphone7 ***/
@media screen and (max-width:400px) and (max-height:680px), (max-width:360px) {
  .container {
    display: grid;
    grid-template-rows: 10vh 45vh 215vh 160vh  70vh 0vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 0vh;
    max-width: 100%;
    background-image: url("assets/description-background.jpg");
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
.our-packages {
  grid-area: our-packages;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

  .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  height: fit-content;
    flex-direction: column;
    position: relative;
    opacity: 1;
  }
  
  
  
  .ag-courses_box {
   
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      justify-content: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2%;
  
}
.ag-courses_item {
  margin: 0px;
  overflow: hidden;
  width: 96%;
  border-radius: 28px;
}
.footer {
  display: flex;
  grid-area: footer;
  width: 100%;
  height: 80vh;
  align-content: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  top: 200px;
}

.footer-element {
  top: 0px;
  position: fixed;
  z-index: 1;
  --footer-background: #3ecd5e;
  display: grid;
  position: relative;
  width: 100%;
  min-height: 12rem;
}
  
    .footer .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 0.5fr 1fr 0fr 1fr;
      grid-gap: 0;
      padding: 0;
      background: var(--footer-background);
      align-items: start;
  }
  .footer .content > div > div > * {
    margin-right: 0px;
    margin-block-end: auto;
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-box {
    background: transparent;
    text-align: center;
    display: none;
  }
   
  .section-title {
    font-size: 4.5vw;
    font-family: system-ui;
    font-weight: 600;
  }
  
      .ag-courses-item_link {
        display: block;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        text-decoration: none;
        font: 1em/1.618 Inter, sans-serif;
        box-shadow: none;
        overflow: hidden;
        border-radius: 40px;
        position: relative;
      }
     
      .cards {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.5rem;
        width: 80%;
        height: 90%;
        margin-top: 0px;
    }
      
      
  .plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgba(255,237,236, 0.15);
        backdrop-filter: blur(26px);
        color: #d2ccd3;
        height: 35vh;
        width: 80vh;
       
      }
      
   .plan .title {
    margin-top: 7vh;
    font-size: 140%;
    text-align: center;
   }  
   .plan .pricing {
    
      position: absolute;
      top: 0px;
      right: 0;
      background-color: #3ecd5e;
      border-radius: 99em 0 0 99em;
      display: flex;
      align-items: center;
      padding: 0.625em 0.75em;
      font-weight: 600;
      color: #917072;
  font-size: 1em;
   } 
   
  .plan .info{
    display: none;
    margin-top: 0vh;
    text-align: center;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-left: -20vw;
    margin-top: 0vh;
  }
  li {
    height: 4vh;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 18px;
  }
  
  .booking-bottom-left-grid{
    display:none;
  }
  
  .subtitle {
    text-align: center;
    
    font-size:160%;
    margin-top: 8vh;
    line-height: 1em;
    font-weight:500;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .input-line{
    font-size: 90%;
  }
  
  .window-form:hover {
    transform: none;
    transition: 2s ease;
     /*Causes the screen to screenshot*/
   }
  
   
  
  #options{
    font-size: 90%;
  }
  .ghost-round{
    width: 160%;
  }
  
  .booking {
    grid-area: booking;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 100vh;
    width: 100%;
    height: 100%;
    grid-template-areas: "booking-top-grid"
  "container-form";
    place-items: center;
  }
  
  
  .booking-top-grid {
    display: flex;
    grid-area: booking-top-grid;
    align-items: center;
    justify-content: center;
}
  
  
.container-form {
  position: center;
  width: 100%;
  height: 80%;
  grid-area: container-form;
}
    
    
    @keyframes slide-in {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
    
    @keyframes slide-in-fromleft {
        from {transform: translateX(0); opacity: 1;}
        to{transform: translateX(0); opacity: 1;}
    }
  
    @keyframes slide-out {
        from {transform: translateX(0);}
        to{transform: translateX(0);}
    }
  
  
  
    
  
    
  
    #your-journey {
        display: none;
    }
  
    .nav {
        top: 0;
        z-index: 100;
        background-color: transparent;
        height: 13vh;
        transition: 0.33s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
    }
    .nav.scrolled {
      position: fixed;
      top: 0;
      z-index: 100;
      
      height: 10vh;
      width: 100vw;
  }
    
    #navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    
    a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color:#F1E4F3;
        font-size: 17px;
        font-weight: 500;
        margin: 12px;
        }
  
   
    
    
  
        .descriptivetext {
          position: relative;
          width: calc(100% - 16vw);
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 45%;
          z-index: 1;
          top: 1vh;
      }
    
    
      #visitus {
        font-size: 15px;
        font-weight: 700;
        background-color: #3ecd5e;
        width: 120px;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin-top: 3vh;
        max-height: 70px;
        border-radius: 1000px;
        box-shadow: 3px 3px 6px #3ecd5e;
    }
    
    
    
        .welcometext {
            color: #EAE5DE;
            font-size: 60px;
            text-align: center;
            margin:0;
            
            
        }
        
        
        .welcometext2 {
            color: #EAE5DE;
            font-size: 35px;
            text-align: center;
            margin:0;
            
        }
        .paragraph-text {
            color:#F6F4ff;
            text-align: center;
            font-size: 15px;
            
            
        }
        .plan button {
          display: none;
          
        }
        .footer .content > div > div {
          margin: 0px;
      }
     #social-media-column a {
  display:none
     }

}

@media screen and (max-height:395px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
   
}
.nav {
  display:none
}
.description {
 display:none
}
.services {
  display:none
}
.our-packages {
  display:none
}
.booking{
  height:100%;
  width: 100%;
  display: flex;
}
#booking-title{
  display:none;
}
.booking-bottom-left-grid{
  display:none
}
.footer {
  display: none;
}
.booking .section-title{
  display:none
}
.booking-top-grid{
  display: none;
}
.subtitle{
  display: none;
}
.button-container{
  display:none
}
.spacing{
  display:none
}
}

